%h1 Orders
%table{ class: "table" }
  %tr
    %th Name
    %th State
    %th User email
  - @orders.each do |order|
    .slide
      %tr
        %td= order.number
        %td= order.state
        %td= order.user&.email
        %td
          %a{ href: "/orders/#{order.number}" } View
      %tr
%table